.header {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 8px;
  align-items: center;
}

.shop_title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight: 700;
}

.log_out {
  width: 100px;
  padding: 10px;
  height: 30px;
  border: 0.5px solid brown;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: brown;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  cursor: pointer;
}

.cart{
  cursor: pointer;
}